*{
    margin: 0;
    padding: 0;
}
.masonry{
    padding: 20px;
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 20px;
            column-gap: 20px;
}
.column{
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */ /* Firefox */
    break-inside: avoid; /* IE 10+ */
    margin-bottom: 20px;
    border: 1px solid red;
    background: #eee;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
}